<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398616390707-ohpc4em93u07f33dh0jm9u5p14p354ku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398616390707-ohpc4em93u07f33dh0jm9u5p14p354ku</string>
	<key>API_KEY</key>
	<string>AIzaSyC3SLLD_FkNnrRLzH-BDIkFb-f-Sd9WLw0</string>
	<key>GCM_SENDER_ID</key>
	<string>398616390707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.summer22Final</string>
	<key>PROJECT_ID</key>
	<string>summer22-final-schedule</string>
	<key>STORAGE_BUCKET</key>
	<string>summer22-final-schedule.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398616390707:ios:369eae354b1e3c94090746</string>
</dict>
</plist>